body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.header_caps {
	font-family: Frutiger, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
}

.header_small {
	font-family: Frutiger, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	padding: 6px 0 0 0;
}

.body_bg {
	background: url(../../images1/body_bg_rep.jpg) repeat-x;
	height: 347px;
	padding: 20px 0 0 0;
}

.footer {
	border-top: #d2e1f7 1px solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}

.restrcitHead {
	font-weight:bold;
	text-decoration:none;
	font-size:12px;
	color:black;
}

#leftlinks {
	height: 510px;
	overflow: auto;
	overflow-x: hidden; /*width:245px;*/;
	width: 244px;
}

.search_box {
	border-bottom: #e7e7e7 1px solid;
	border-right: #e7e7e7 1px solid;
	border-left: #e7e7e7 1px solid;
	border-top: #8f4710 1px solid;
	width: 180px;
	height: 18px;
	padding: 3px 0 3px 10px;
	font-size: 11px;
	font-weight: normal;
	color: #706363;
	background: #fdfaf2 url(images/search_ico.jpg) no-repeat right;
}

.leftnav_bg {
	background: url(http://teamspace.pg.com/sites/cppdpolicy/images1/left_nav_bg.jpg) repeat-y;
	color: #505050;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	width: 200px;
}

.leftnav_bg a {
	color: #505050;
}

.selected {
	background-color: #9f9f9f;
}

.leftnav_bg tbody tr td div {
	padding: 5px 0 5px 15px;
	margin: 0 2px 0 6px;
	width: 100%;
	cursor: pointer;
}

.leftnav_bg tbody {
	width: 100px;
}

.leftnav_bg tbody tr td div:hover {
	color: #505050;
	background: #9f9f9f;
}

.leftnav_bg_sel {
	background: url(http://teamspace.pg.com/sites/cppdpolicy/images1/left_nav_bg_sel.jpg) repeat-y;
	color: #FFFFFF;
	padding: 10px 0 10px 15px;
}

.leftnav_btmbg {
	background: url(http://teamspace.pg.com/sites/cppdpolicy/images1/left_nav_btm_bg.jpg) no-repeat;
	width: 245px;
	height: 2px;
}
.body_heading {
	background: url(http://teamspace.pg.com/sites/cppdpolicy/images1/gray_heading_rep.jpg) repeat-x;
	width: 100%;
	padding: 10px 0 0 10px;
	color: #272828;
	font-size: 16px;
	font-family: "Frutiger 45 Light", Arial, Helvetica, sans-serif;
}
.body_bluelinks {
	padding: 0 0 5px 0;
	color: #0263af;
	line-height: 20px;
	font-weight: normal;
}

.body_bluelinks a {
	color: #0263af;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding-left:2px;
}

.body_bluelinks a:hover {
	color: red;
	text-decoration: underline;
	font-weight: bold;
	cursor:pointer;
}

.body_bluelinks2 {
	padding: 5px 0 5px 5px;
	color:black;
	line-height: 20px;
	font-weight: normal;
}

.body_bluelinks2 a {
	color:black;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.body_bluelinks2 a:hover {
	color: red;
	text-decoration: underline;
	font-weight: bold;
}

.body_bluelinks1 {
	padding: 5px 0 5px 20px;
	color: #0263af;
	line-height: 20px;
	font-weight: normal;
}

.body_bluelinks1 a {
	color: #0263af;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.body_bluelinks1 a:hover {
	color: red;
	text-decoration: underline;
	font-weight: bold;
	cursor:pointer;
}

.left_nav_sublinks {
	background: #c5c1c1;
	padding: 10px 10px 0 25px;
	color: #505050;
	font-size: 10px;
	font-weight: bold;
}

.Orientation { 
background-color:#fe944a;
margin-left:30px;
}

.Orientation th{
color:white;
}

.Orientation tr{
font-weight:normal;
font-family:sans-serif;
}

.Orientation td{
background-color:#FDEEF4;
font-size:12px;
text-align:center;
}

